In [4]:
%pylab inline
import numpy as np 
import pandas as pd 
from sklearn import tree 
from sklearn import model_selection
from sklearn import metrics
from sklearn import preprocessing

Populating the interactive namespace from numpy and matplotlib

In [2]:
df = pd.read_csv('./wdbc.data', header=None) # read with header = None to disable searching for header in csv

In [3]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,...,25.38,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,...,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,...,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,...,14.91,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,...,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678

In [5]:
data = df.values
y = data[:, 1] # get target 
X = data[:, 2:] # input features are from column 2 onwards

In [6]:
# encode target as integer
label_encoder = preprocessing.LabelEncoder()
label_encoder.fit(y)
y = label_encoder.transform(y)

# Training-testing split

In [8]:
TRAINING_SIZE = 0.7 # using 70% for training 
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, shuffle=True, train_size=TRAINING_SIZE)

In [10]:
clf = tree.DecisionTreeClassifier()
clf.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [11]:
y_pred = clf.predict(X_test)

In [12]:
print(metrics.confusion_matrix(y_test, y_pred))

[[107   7]
 [  2  55]]

In [13]:
print(metrics.f1_score(y_test, y_pred))

0.9243697478991597

# $k$-fold

In [15]:
k = 5
kf = model_selection.KFold(n_splits=k, shuffle=True)
kf.get_n_splits(X)

5

In [16]:
f1_scores = []
models = []
for train_index, test_index in kf.split(X):
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]
    
    clf = tree.DecisionTreeClassifier()
    clf.fit(X_train, y_train)
    
    y_pred = clf.predict(X_test)
    f1_scores.append(metrics.f1_score(y_test, y_pred))
    models.append(clf)

In [17]:
print(np.mean(f1_scores))

0.8912903225806452

In [18]:
print(np.std(f1_scores))

0.025742553309370444